@import "../../../_variables";

main {
  background-color: $bg-gray;
}

.container {
  background-color: $white;
  margin-bottom: 25vh;
  margin-top: 12vh;

  h2 {
    font-family: $title-font;
    font-size: $size-1;
    color: $primary;
  }

  label {
    color: $primary;
    font-family: $title-font;
  }

  .btn:hover {
    color: $primary;
    background-color: $secondary;
  }
}


