<main>
  <section class="justify-content-center d-flex">
    <div class="container justify-content-center d-flex p-5 rounded shadow">
      <div class="register-form justify-content-center d-flex col-12">
        <div class="col-12">
          <h2 class="justify-content-center d-flex my-5">Rénitialiser le mot de passe</h2>
          <form [formGroup]="formUpdatePassword" (ngSubmit)="onSubmit()">

            <!-- Password -->
            <div class="form-group mb-4">
              <label for="pass">Mot de passe</label>
              <input
                id="pass"
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formUpdatePassword.controls['password'].errors }"
                required
              />
              <div *ngIf="submitted && formUpdatePassword.controls['password'].errors" class="invalid-feedback">
                <div *ngIf="formUpdatePassword.controls['password'].errors['required']">Le mot de passe est requis</div>
                <div *ngIf="formUpdatePassword.controls['password'].errors['minlength']">
                  Le mot de passe doit comporter au moins 6 caractères
                </div>
                <div *ngIf="formUpdatePassword.controls['password'].errors['maxlength']">
                  Le mot de passe ne doit pas dépasser 40 caractères
                </div>
              </div>
            </div>

            <!-- Password Confirmation -->
            <div class="form-group mb-4">
              <label for="pass_again">Confirmer le mot de passe</label>
              <input
                id="pass_again"
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formUpdatePassword.controls['confirmPassword'].errors }"
                required
              />
              <div
                *ngIf="submitted && formUpdatePassword.controls['confirmPassword'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="formUpdatePassword.controls['confirmPassword'].errors['required']">
                  La confirmation de mot de passe est requis
                </div>
                <div *ngIf="formUpdatePassword.controls['confirmPassword'].errors['matching']">
                  La confirmation de mot est different
                </div>
              </div>
            </div>

            <div class="form-group justify-content-center d-flex mt-4">
              <button type="submit" class="btn btn-primary col-6 px-5 my-3">Rénitialiser</button>
            </div>
          </form>
          <!-- Message error if something wrong from back (spring) -->
          <div class="alert alert-warning justify-content-center" *ngIf="isSignUpFailed">
            {{ errorMessage }}
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
