<a class="d-flex justify-content-center modal-link mb-5" data-bs-toggle="modal" data-bs-target="#modalForgotPassword" >Mot de passe oublié ?</a>

<div class="modal fade" id="modalForgotPassword" tabindex="-1" aria-labelledby="modalForgotPasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5 text-primary text-center mt-3 mb-0" id="modalForgotPasswordLabel">Entrer votre e-mail</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group mb-2">
              <input class="form-control" placeholder="E-mail" formControlName="email" type="email" autofocus>
            </div>
            <div class="form-group my-3 text-center">
              <button class="btn btn-primary rounded w-50 w-md-25" type="submit">Envoyer</button>
            </div>
          </fieldset>
        </form>
        <div class="modal-message mt-1" *ngIf="message != ''">{{ message }}</div>
      </div>
    </div>
  </div>
</div>
