<!--GS 3/02/2022: The navbar is not responsive yet. -->
<div class="row mb-5">
  <a class=" shadow button col-4 text-center py-3 align-self-center" routerLink="/user/profile/edit" routerLinkActive="activebutton">Mes données personnelles</a>
  <a class="shadow button col-4 text-center py-3 align-self-center" routerLink="/user/profile/domains" routerLinkActive="activebutton">Gérer mes préférences</a>
  <a class=" shadow button col-4 text-center py-3 align-self-center" routerLink="/user/profile/patents" routerLinkActive="activebutton">Mes brevets favoris</a>
</div>




