/* Error: Undefined function.
 *     ,
 * 106 |   background: linear-gradient(to right, #Be2535, #25be45) math.div(0, var(--sx)) 100% no-repeat, #EFEFEF;
 *     |                                                           ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   patent-box.component.scss 106:59  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined function.\a     \2577 \a 106 \2502    background: linear-gradient(to right, #Be2535, #25be45) math.div(0, var(--sx)) 100% no-repeat, #EFEFEF;\a     \2502                                                            ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   patent-box.component.scss 106:59  root stylesheet";
}
